In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("PyPoll/Resources/election_data.csv")
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [60]:
total_votes = len(df)
total_votes

369711

In [53]:
len(df["Candidate"].value_counts())
df["Candidate"].value_counts().sort_index()

Charles Casper Stockham     85213
Diana DeGette              272892
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

In [56]:
df["Candidate"].unique()

array(['Charles Casper Stockham', 'Diana DeGette', 'Raymon Anthony Doane'],
      dtype=object)

In [63]:
t = [ [0]*3 for i in range(3)]

for i in range(0, len(df["Candidate"].value_counts())):
    t[i][0] = df["Candidate"].unique()[i]
    t[i][2] = df["Candidate"].value_counts().sort_index()[i]/total_votes*100
    t[i][1] = df["Candidate"].value_counts().sort_index()[i]
    



t

[['Charles Casper Stockham', 85213, 23.04854332167558],
 ['Diana DeGette', 272892, 73.81224794501652],
 ['Raymon Anthony Doane', 11606, 3.1392087333079077]]

In [125]:
for x in range(0,3):
    print(x)

0
1
2

In [123]:
winner = df["Candidate"].value_counts().max()
df["Candidate"].value_counts().idxmax()

'Diana DeGette'

In [122]:
# df["Candidate"].count().where(df["Candidate"].count() == winner)
df2 = pd.DataFrame(t)

df2 = df2.rename(columns={0: 'Candidate', 1: 'Votes', 2: 'vote_percentage'})
df2

# df2["Candidate"].where(df2["Votes"].max())
#df2["Votes"].count()
winner = df2["Votes"].idxmax()
winner
df2["Candidate"][winner]

'Diana DeGette'